fastapi
uvicorn
streamlit

python-dotenv
pydantic
pydantic-settings

langserve
langgraph
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-ollama

tavily-python
tenacity

youtube-transcript-api
yt-dlp
requests

semantic-router
sentence-transformers
scikit-learn
numpy

langsmith
